<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_page.css') }}">
    <title>Flask Modular App</title>
</head>
<body>
   
    <div class='headin1'><h1>Basics of Flask</h1></div><br>
    <div>
       <div> 
          <h3>Program 1</h3>
          <form action="{{ url_for('module1.task1') }}" method="post">
          <p>A simple Flask app that displays "Hello, World!" on the homepage.<p>
          <button class="taskButton" data-task="module1/task1">Run</button>
        </form>
      </div>

      <div> 
        <h3>Program 2</h3>
        <form action="{{ url_for('module2.task2') }}" method="post">
        <p>Build a Flask app with static HTML pages and navigate between them.<p>
        <button class="taskButton" data-task="module2/task2">Run</button>
        </form>
      </div>

      <div>
        <h3>Program 3</h3>
        <form action="{{ url_for('module3.task3') }}" method="post">
        <p>Develop a Flask app that uses URL parameters to display dynamic content.<p> 
        <button class="taskButton" data-task="module3/task3">Run</button>
        </form>
      </div>

      <div> 
        <h3>Program 4</h3>
        <form action="{{ url_for('module4.task4') }}" method="post">
        <p>Create a Flask app with a form that accepts user input and displays it.<p>
        <button class="taskButton" data-task="module4/task4">Run</button>
        </form>
      </div>

      <div>
        <h3>Program 5</h3>
        <form action="{{ url_for('module5.task5') }}" method="post">
        <p>Implement user sessions in a Flask app to store and display user-specific data.<p>
        <button class="taskButton" data-task="module5/task5">Run</button>
        </form>
      </div>
    </div>
    <br>

    <div class='headin1'><h1>Intermediate Flask Topics</h1></div><br>
    <div>
       <div> 
          <h3>Program 6</h3>
          <form action="{{ url_for('module6.task6') }}" method="post">
          <p>Build a Flask app that allows users to upload files and display them on the website.<p>
          <button class="taskButton" data-task="module6/task6">Run</button>
        </form>
      </div>
      <div> 
        <h3>Program 9</h3>
        <form action="{{ url_for('module9.task9') }}" method="post">
        <p>Create a RESTful API using Flask to perform CRUD operations on resources like books or movies.<p>
        <button class="taskButton" data-task="module9/task9">Run</button>
      </form>
    </div>
      <div> 
        <h3>Program 10</h3>
        <form action="{{ url_for('module10.task10') }}" method="post">
        <p>Design a Flask app with proper error handling for 404 and 500 errors.<p>
        <button class="taskButton" data-task="module10/task10">Run</button>
      </form>
    </div>
    </div>

    <div class='headin1'><h1>Real-time Development</h1></div><br>
    <div>
      <div> 
         <h3>Program 11</h3>
         <form action="{{ url_for('module11.task11') }}" method="post">
         <p>Create a real-time chat application using Flask-SocketIO.<p>
         <button class="taskButton" data-task="module11/task11">Run</button>
       </form>
     </div>
   </div>

</body>
<script src="{{ url_for('static', filename='index_page.js') }}"></script>
</html>
